{% extends "layout.html" %}

{% block title %}
Transaction history
{% endblock %}

{% block main %}
<table>
    <caption>Transaction history for this account</caption>
    <thead>
        <tr>
            <th>Date</th>
            <th>Stock</th>
            <th>Price</th>
            <th>Amount</th>
            <th>Value</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for entry in log %}
        <tr>
            <td>
                {{ entry.timestamp | datetimeformat  }}
            </td>
            <td>{{ entry.stock }}</atd>
            <td>{{ entry.price | usd }}</td>
            <td>{{ entry.amount }}</td>
            <td>{{ entry.total | usd }}</td>
            {% if entry.action == "buy" %}
                <td class="green">{{ entry.action }}</td>
            {% else %}
                <td class="red">{{ entry.action }}</td>
            {% endif %}
        </tr>
        {% endfor %}

    </tbody>
</table>
{% endblock %}